@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Создание и редактирование через ссылки</h2>
    <p>

        @Html.ActionLink("Добавление новой", "Create")

    </p>
     

</body>
</html>

